@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap");
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: #737373;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
img {
  display: block;
  max-width: 100%;
}

body.lock {
  overflow: hidden;
}

.wrapper {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  min-height: 100%;
}

[class*=container] {
  max-width: 1076px;
  margin: 0 auto;
  padding: 0 15px;
}

.page {
  flex: 1 1 auto;
}

/*==================================================================================================================*/
.header {
  position: relative;
  z-index: 50;
}
.header__top-row {
  top: 0;
  position: absolute;
  min-height: 104px;
  display: flex;
  align-items: center;
}
.header__logo {
  position: relative;
  z-index: 3;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0.1px;
  color: #252B42;
}

.menu:not(:first-child) {
  margin: 0 0 0 134px;
}
.menu__list {
  display: flex;
  gap: 21px;
}
.menu__link {
  position: relative;
  font-weight: 600;
  line-height: 1.71;
  letter-spacing: 0.2px;
  color: #737373;
}
.menu__link::before {
  content: "";
  bottom: 0;
  right: 0;
  position: absolute;
  width: 0;
  height: 2px;
  background-color: #737373;
  transition: 0.3s;
}
.menu__link:hover:before {
  width: 100%;
  left: 0;
}

@media (max-width: 853px) {
  .header__top-row {
    width: 95%;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .menu:not(:first-child) {
    margin: 0;
  }
  .menu__link {
    color: #535151;
    padding: 5px 10px;
  }
}
@media (max-width: 555px) {
  .header__top-row {
    min-height: 60px;
  }
  .header__burger {
    display: block;
    position: absolute;
    right: 10px;
    width: 30px;
    height: 20px;
    cursor: pointer;
    z-index: 5;
  }
  .header__burger span {
    top: 8px;
    left: 0;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #000;
    transition: 0.3s all ease;
  }
  .header__burger span:first-child {
    top: 0;
  }
  .header__burger span:last-child {
    top: 16px;
    bottom: 0;
  }
  .header__burger.active span:nth-child(2) {
    opacity: 0;
  }
  .header__burger.active span:first-child {
    top: 8px;
    transform: rotate(45deg);
  }
  .header__burger.active span:last-child {
    transform: rotate(-45deg);
    top: 8px;
    left: -1px;
  }

  .menu {
    position: fixed;
    top: 0;
    right: -100%;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(205, 120, 29);
    transition: 0.5s all 0s ease;
  }
  .menu:not(:first-child) {
    margin: 0;
  }
  .menu__list {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 104px 25px;
  }
  .menu__link {
    font-size: 24px;
    color: #fff;
  }
  .menu__link::before {
    background-color: #fff;
  }
  .menu.active {
    right: 0;
  }
}
/*=================================================================================================================*/
.main-block {
  position: relative;
  z-index: 2;
}
.main-block__container {
  padding: 184px 15px 198px 15px;
}
.main-block__body {
  position: relative;
  z-index: 3;
  display: flex;
  flex-direction: column;
  gap: 35px;
  max-width: 509px;
}
.main-block__title {
  font-weight: 800;
  font-size: 58px;
  line-height: 1.38;
  letter-spacing: 0.2px;
  color: #252B42;
}
.main-block__text {
  max-width: 400px;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: 0.2px;
}
.main-block__buttons-row {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.main-block__button {
  display: inline-block;
  border-radius: 37px;
  padding: 10px 36px;
  font-weight: 700;
  line-height: 2;
  text-align: center;
  letter-spacing: 0.2px;
  transition: 0.5s all 0s ease;
}
.main-block__button--orange {
  background-color: #FF7B47;
  color: #fff;
}
.main-block__button--orange:hover {
  background-color: #fff;
  color: #FF7B47;
}
.main-block__button--border {
  border: 1px solid #0D5C63;
  color: #0D5C63;
}
.main-block__button--border:hover {
  background-color: #0D5C63;
  color: #fff;
}
.main-block__image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  background: url("../img/mainblock/cover.jpg") 100% 0/cover no-repeat;
}

@media (max-width: 1150px) {
  .main-block__container {
    padding: 160px 15px 198px 15px;
  }
  .main-block__image {
    opacity: 0.4;
  }
  .main-block__text {
    color: #575555;
  }
}
@media (max-width: 480px) {
  .main-block__container {
    padding: 80px 15px 198px 15px;
  }
  .main-block__title {
    text-align: center;
    font-size: 36px;
  }
  .main-block__buttons-row {
    flex-direction: column;
  }
  .main-block__button {
    display: block;
  }
}
/*===================================================================================================================*/
.services {
  position: relative;
  margin: -118px 0 0 0;
  background-color: #FAFAFA;
}
.services__cards-row {
  display: flex;
  gap: 30px;
}
.services__card-item {
  position: relative;
  z-index: 3;
  flex: 0 1 33%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 35px 50px 35px 40px;
  background-color: #fff;
}

.card-item__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.333;
  letter-spacing: 0.1px;
  color: #252B42;
}
.card-item__title--white {
  color: #fff;
}
.card-item__text {
  line-height: 1.43;
  letter-spacing: 0.2px;
}
.card-item__text--white {
  color: #fff;
}
.card-item--dark-blue {
  background-color: #0D5C63;
}

@media (max-width: 1024px) {
  .services__cards-row {
    flex-wrap: wrap;
  }
  .services .card-item {
    flex: 1 1 32%;
  }

  .card-item--dark-blue {
    flex: 1 1 auto;
    align-items: center;
    text-align: center;
  }
}
@media (max-width: 670px) {
  .services__cards-row {
    flex-direction: column;
  }
  .services__card-item {
    flex: 1 1 auto;
    align-items: center;
    text-align: center;
    padding: 20px 20px;
  }
}
/*================================================================================================================*/
.advantages {
  padding: 80px 0;
  background-color: #FAFAFA;
}
.advantages__header {
  text-align: center;
}
.advantages__header:not(:last-child) {
  margin: 0 0 50px 0;
}
.advantages__body {
  display: flex;
  gap: 30px;
}
.advantages__item {
  flex: 0 1 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 30px 20px;
  background-color: #fff;
}
.advantages__value {
  font-weight: 700;
  font-size: 40px;
  line-height: 1.42;
  letter-spacing: 0.2px;
  color: #252B42;
  text-align: center;
}
.advantages__text {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
}

.header-block__title {
  text-align: center;
  font-weight: 700;
  font-size: 40px;
  line-height: 1.42;
  color: #252B42;
}
.header-block__title:not(:last-child) {
  margin: 0 0 10px 0;
}
.header-block__title--left {
  -moz-text-align-last: left;
       text-align-last: left;
}
.header-block__text {
  text-align: center;
  line-height: 1.43;
}
.header-block__text--left {
  text-align: left;
}

@media (max-width: 1023.99px) {
  .advantages__body {
    flex-wrap: wrap;
  }
  .advantages__item {
    flex: 1 1 40%;
  }

  .header-block__title {
    font-size: 35px;
  }
}
@media (max-width: 727.99px) {
  .advantages {
    padding: 40px 0 0 0;
  }
  .advantages__header:not(:last-child) {
    margin: 0 0 25px 0;
  }

  .header-block__title {
    font-size: 30px;
  }
}
@media (max-width: 580px) {
  .advantages__body {
    flex-direction: column;
  }
  .advantages__item {
    flex: 1 1 auto;
  }
}
/*=============================================================================================================*/
.advice {
  padding: 80px 0;
  background-color: #FAFAFA;
}
.advice__header {
  text-align: center;
}
.advice__header:not(:last-child) {
  margin: 45px 0;
}
.advice__body {
  display: flex;
  gap: 30px;
}
.advice__item {
  flex: 0 1 25%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}

.item-advice__body {
  padding: 30px 35px 30px 30px;
}
.item-advice__title {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.1px;
  color: #252B42;
}
.item-advice__title:not(:last-child) {
  margin: 0 0 15px 0;
}
.item-advice__text {
  font-weight: 500;
  line-height: 1.43;
  letter-spacing: 0.2px;
}
.item-advice__image img {
  width: 100%;
}

@media (max-width: 1050px) {
  .advice__body {
    flex-wrap: wrap;
  }
  .advice__item {
    flex: 1 1 40%;
  }
}
@media (max-width: 727px) {
  .advice {
    padding: 40px 0 0 0;
  }
  .advice__header:not(:last-child) {
    margin: 0 0 25px 0;
  }
}
@media (max-width: 590px) {
  .advice__item {
    flex: 1 1 auto;
  }
}
/*============================================================================================================*/
.info {
  padding: 100px 0 136px 0;
}
.info__header:not(:last-child) {
  margin: 0 0 100px 0;
}
.info__row {
  display: flex;
  justify-content: space-between;
  gap: 100px;
}
.info__media {
  flex: 0 1 57%;
  position: relative;
  padding: 18% 0 24% 0;
  width: 100%;
  height: 0;
}
.info__media iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.info__body {
  flex: 0 1 33%;
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 25px 0 0 10px;
}

.body-info__header:not(:last-child) {
  margin: 0 0 20px 0;
}
.body-info__header .header-block__title--left {
  text-align: left;
}
.body-info__part {
  display: flex;
  gap: 20px;
}

.part-info__body-row {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.part-info__title {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.1px;
  color: #252B42;
}
.part-info__subtitle {
  font-weight: 600;
  line-height: 1.71;
  letter-spacing: 0.2px;
}

@media (max-width: 1096px) {
  .info {
    padding: 60px 0;
  }
  .info__row {
    flex-direction: column-reverse;
    gap: 40px;
  }
  .info__media {
    flex: 1 1 auto;
    padding: 22% 0 26% 0;
  }
  .info__body {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
@media (max-width: 768px) {
  .info {
    padding: 50px 0;
  }
  .info__header:not(:last-child) {
    margin: 0 0 30px 0;
  }
  .info__media {
    flex: 1 1 auto;
    padding: 24% 0 30% 0;
  }
  .info__body {
    padding: 0;
  }

  .body-info__part {
    gap: 20px;
  }
}
@media (max-width: 435px) {
  .info__media {
    padding: 30% 0 34% 0;
  }
}
/*=========================================================================================================*/
.clients {
  padding: 0 0 20px 0;
  position: relative;
  background-color: #FAFAFA;
}
.clients::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 77px;
  background-color: #252B42;
}
.clients__brends {
  display: flex;
  gap: 30px;
  align-items: center;
  padding: 50px 0;
}
.clients__brends:not(:last-child) {
  margin: 0 0 20px 0;
}
.clients__subscribe {
  position: relative;
  z-index: 3;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 30px 40px 30px 50px;
  max-width: 986px;
  background-color: #17213C;
}
.clients__title {
  max-width: 270px;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.33;
  letter-spacing: 0.1px;
  color: #FFFFFF;
}
.clients__form {
  position: relative;
  display: flex;
  flex: 0 1 450px;
}
.clients__input {
  min-height: 58px;
  width: 100%;
  padding: 0 140px 0 20px;
  border-radius: 5px;
  font-weight: 400;
  line-height: 2;
  letter-spacing: 0.2px;
}
.clients__submit {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1px;
  height: 97%;
  width: 117px;
  border-radius: 0 5px 5px 0;
  background-color: #FF7B47;
  font-weight: 400;
  line-height: 2;
  text-align: center;
  letter-spacing: 0.2px;
  color: #FFFFFF;
  transition: 0.3s;
}
.clients__submit:hover {
  background-color: #ed5d24;
  cursor: pointer;
}

@media (max-width: 1085px) {
  .clients__brends {
    padding: 25px 0;
    flex-wrap: wrap;
    justify-content: center;
  }
  .clients__item {
    flex: 0 1 25%;
    display: flex;
    justify-content: center;
  }
}
@media (max-width: 880px) {
  .clients__subscribe {
    flex-direction: column;
    gap: 20px;
  }
  .clients__title {
    max-width: none;
  }
  .clients__form {
    flex: 1 1 auto;
    width: 100%;
  }
  .clients__input {
    width: 100%;
  }
}
@media (max-width: 540px) {
  .clients__brends {
    gap: 5px;
  }
  .clients__subscribe {
    padding: 30px 15px;
  }
  .clients__item {
    flex: 1 1 5%;
    max-width: 120px;
  }
  .clients__input {
    padding: 0 100px 0 20px;
  }
  .clients__submit {
    width: 80px;
  }
}
/*=========================================================================================================================*/
.contacts {
  padding: 80px 0 148px 0;
  background-color: #F3F3F3;
}
.contacts__container {
  padding: 0 47px 0 45px;
}
.contacts__header:not(:last-child) {
  margin: 0 0 80px 0;
}
.contacts__body {
  display: flex;
  align-items: center;
}
.contacts__card {
  flex: 0 1 33.3333%;
  display: flex;
  gap: 15px;
  flex-direction: column;
  align-items: center;
  padding: 50px 0;
  background-color: #fff;
}
.contacts__card--dark {
  padding: 80px 0;
  background-color: #252B42;
}

.card-contacts__subtitles {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card-contacts__subtitle {
  position: relative;
  font-weight: 600;
  line-height: 1.71;
  text-align: center;
  letter-spacing: 0.2px;
  color: #252B42;
}
.card-contacts__subtitle::before {
  content: "";
  bottom: 0;
  right: 0;
  position: absolute;
  width: 100%;
  height: 1.4px;
  background-color: #252B42;
  transform: scaleX(0);
  transition: 0.3s;
}
.card-contacts__subtitle:hover:before {
  width: 100%;
  transform: scaleX(1);
}
.card-contacts__subtitle--white {
  color: #fff;
}
.card-contacts__subtitle--white::before {
  background-color: #fff;
}
.card-contacts__title {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.1px;
  color: #252B42;
}
.card-contacts__title--white {
  color: #fff;
}
.card-contacts__button {
  padding: 10px 20px;
  font-weight: 600;
  line-height: 1.71;
  text-align: center;
  border-radius: 5px;
  letter-spacing: 0.2px;
  color: #FF7B47;
  border: 1px solid #FF7B47;
  transition: 0.5s;
}
.card-contacts__button:hover {
  color: #fff;
  background-color: #FF7B47;
}
.card-contacts__button--white {
  color: #fff;
  border: 1px solid #fff;
}
.card-contacts__button--white:hover {
  color: #252B42;
  background-color: #fff;
}
@media (max-width: 1080px) {
  .contacts__container {
    padding: 0 15px;
  }
}
@media (max-width: 950px) {
  .contacts__body {
    flex-wrap: wrap;
    gap: 15px;
  }
  .contacts__card {
    flex: 1 1 49%;
  }
  .contacts__card--dark {
    order: 3;
  }
}
@media (max-width: 727px) {
  .contacts {
    padding: 50px 0;
  }
  .contacts__header:not(:last-child) {
    margin: 0 0 30px 0;
  }
}
/*=========================================================================================================================*/
.consulting__container {
  padding: 40px 48px 40px 15px;
}
.consulting__body {
  display: flex;
  justify-content: space-between;
}
.consulting__header {
  text-align: left;
}
.consulting__header .header-block__title {
  font-size: 24px;
  line-height: 1.33;
  text-align: left;
}
.consulting__header .header-block__text {
  text-align: left;
}
.consulting__button {
  display: inline-block;
  padding: 15px 40px;
  border-radius: 5px;
  background-color: #FF7B47;
  font-weight: 700;
  line-height: 2;
  text-align: center;
  letter-spacing: 0.2px;
  color: #FFFFFF;
  transition: 0.3s;
}
.consulting__button:hover {
  background-color: #ed5d24;
}

@media (max-width: 1080px) {
  .consulting__container {
    padding: 40px 15px;
  }
}
@media (max-width: 727px) {
  .consulting__body {
    flex-direction: column;
    gap: 20px;
  }
  .consulting__button {
    width: 100%;
  }
}
/*=========================================================================================================================*/
.footer__top {
  padding: 50px 0;
  background-color: #17213C;
}
.footer__body {
  display: flex;
  gap: 30px;
}
.footer__column {
  flex: 0 1 17.35%;
  padding: 7px;
}
.footer__column:last-child {
  flex: 0 1 30.6%;
}

.column-item__title {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.1px;
  color: #FFFFFF;
}
.column-item__title:not(:last-child) {
  margin: 0 0 20px 0;
}
.column-item__link {
  position: relative;
  font-weight: 600;
  line-height: 1.71;
  letter-spacing: 0.2px;
  color: #FFFFFF;
}
.column-item__link::before {
  content: "";
  bottom: 0;
  right: 0;
  position: absolute;
  width: 100%;
  height: 1.4px;
  background-color: #fff;
  transform: scaleX(0);
  transition: 0.3s;
}
.column-item__link:hover:before {
  width: 100%;
  transform: scaleX(1);
}
.column-item__item:not(:last-child) {
  margin: 0 0 10px 0;
}
.column-item__row {
  display: flex;
  gap: 10px;
}

@media (max-width: 1080px) {
  .footer__body {
    flex-wrap: wrap;
  }
  .footer__column {
    flex: 0 1 30%;
    padding: 7px;
  }
  .footer__column:last-child {
    flex: 1 1 auto;
  }
}
@media (max-width: 686.77px) {
  .footer__body {
    gap: 12px;
  }
  .footer__column {
    align-items: center;
    flex: 1 1 40%;
    padding: 7px;
  }
  .footer__column:last-child {
    flex: 1 1 auto;
  }

  .column-item__title {
    padding: 0 0 0 10px;
  }
  .column-item__link {
    padding: 10px 14px;
  }
}
@media (max-width: 464px) {
  .footer__body {
    flex-direction: column;
  }
}
/*----------------------------------------------------------------------------------------------------------------------*/
.footer {
  padding: 14px 0 46px 0;
}
.footer__row {
  display: flex;
  justify-content: space-between;
  padding: 14px 0 0 0;
}
.footer__label {
  font-weight: 600;
  line-height: 1.71;
  letter-spacing: 0.2px;
}
.footer__social {
  display: flex;
  align-items: center;
  gap: 20px;
}

@media (max-width: 600px) {
  .footer__row {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  .footer__label {
    text-align: center;
  }
}