@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700;800&family=Rubik:wght@400;700&display=swap');

$color: #EC5863;
// обнуление
@import "nullstyles.scss";

body{
    font-family: "Rubik";
    font-size: 12px;
    max-width: 100%;
    overflow-x: hidden;
}
.wrapper{
    display: flex;
    flex-direction: column;
    height: 100%;
}
.main{
    flex: 1 1 auto;
}
img{
    display: block;
    max-width: 100%;
}
[class*="container"]{
    max-width: 1087px;
    margin: 0 auto;
    padding: 0 15px;
}
/*======================================================================================================================================*/
.header{
    background-color: #FAFBFD;
    &__row{
        height: 114px;
        display: flex;
        align-items: center;
    }
    &__button{
        display: flex;
        justify-content: flex-end;
        flex: 0 1 252px;
    }
    &::before{
        content:"";
        position: absolute;
        width: 100vw;
        height: 114px;
        background-color: $color;
        top: 0;
        right: -70%;
        border-radius: 30px 0 0 0;
    }
}
.menu{
    display: flex;
    justify-content: flex-end;
    flex: 1 1 auto;
    &__list{
        display: flex;
    }
    &__item{
        margin: 0 39px 0 0;
    }
    &__link{
        font-family: 'Raleway';
        font-weight: 700;
        font-size: 10px;
        line-height: 1.2;
        letter-spacing: 0.14em;
        color: #000000;
        &:hover{
            text-decoration: underline;
        }
    }
}
@media(max-width:840px) {
    body.lock{
        overflow: hidden;
    }
    .header{
        &__row{
            justify-content: start;
        }
        &__logo{
            position: relative;
            z-index: 4;
        }
        &__burger{
            display: block;
            position: relative;
            width: 30px;
            height: 30px;
            bottom: 4px;
            margin: 0 0 0 20px;
            z-index: 3;
            transition: 0,5s all 0s ease;
            &::before,
            &::after{
                content: "";
                position: absolute;
                height: 2.2px;
                width: 100%;
                background-color: #000;
                transition: 0.4s all 0s ease;
            }
            &::before{
                top: 5px;
            }
            &::after{
                bottom: 0px;
            }
            span{
                position: absolute;
                background-color: #000;
                height: 3px;
                width: 100%;
                top: 16px;
                transition: 0.2s all 0s ease;
            }
        }
        &__menu{
            justify-content: start;
            position: fixed;
            top: -100%;
            left: 0;
            height: 100%;
            width: 100%;
            background-color: rgb(135, 206, 11);
            z-index: 3;
            overflow: auto;
            transition: 0.8s all 0s ease-in-out;
        }
        .active{
            &:before{
                top: 15px;
                transform: rotate(45deg);
            }
            &:after{
                top: 15px;
                transform: rotate(-45deg);

            }
            span{
                transform: scale(0);
            }
        }
        nav.active{
            top: 0;
        }
        &__button{
            flex: 0 0 auto;
        }
        &__logo{
            flex: 1 1 auto;
        }
        .menu{
            justify-content: center;
            align-items: center;
            text-align: center;
            &__list{
                flex-direction: column;
            }
            &__item{
                margin: 0 0 30px 0;
            }
            &__link{
                font-size: 25px;
            }
        }
    }
}
@media(max-width:425px){
    .header{
        &__row{
            justify-content: space-between;
            height: 70px;
        }
        &__logo{
            width: 40px;
            overflow: hidden;
            flex:none;
            img{
                max-width: none;
            }
        }
    }
}
.button{
    position: relative;
    font-family: 'Raleway';
    font-weight: 800;
    font-size: 10px;
    text-transform: uppercase;
    line-height: 1.2;
    letter-spacing: 0.14em;
    color: #FCFDFE;
    background-color: $color;
    padding: 14px 29px;
    border-radius: 5px;
    transition: 0.3s all 0s ease;
    &:hover{
        background-color: #e32734;
    }
    &_blue{
        background-color: #4285F4;
        z-index: 3;
        &:hover{
            background-color: #1260dc;
        }
    }
}
/*============================================================================================================================*/
.get-started{
    position: relative;
    background-color:#FAFBFD;
    &__row{
        display: flex;
        align-items: center;
        padding: 39px 0 61px 0;
    }
    &__body{
        flex: 0 1 48%;
        margin: 0 0 0 18px;
    }
    &__image{
        flex: 0 1 52%;
        position: relative;
        z-index: 2;
    }
    &::before{
        content: "";
        position: absolute;
        width: 100vw;
        height: 100%;
        background-color: $color;
        border-radius: 0 0 0 30px;
        right: -70%;
    }
}
.body{
    &__title{
        font-weight: 700;
        font-size: 44px;
        line-height: 126%;
        font-feature-settings: 'pnum' on, 'lnum' on;
        span{
            color:$color;
        }
        &_blue{
            span{
                color: #4285F4;
            }
        }
        &:not(:last-child){
            margin: 0 0 5px 0;
        }
    }
    @media(max-width:680px){
        .body{
            &__title{
                font-size: 36px;
            }
        }
    }
    &__text{
        line-height: 138.5%;
        letter-spacing: 0.08em;
        font-feature-settings: 'pnum' on, 'lnum' on;
        color: #616161;
        &:not(:last-child){
            margin: 0 0 32px 0;
        }
    }
    &__image{
        display: block;
        max-width: 100%;
    }
}
.video-play{
    display: inline-flex;
    margin: 0 0 48px 18px;
    &__body{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin: 0 0 0 12px;
    }
    &__title{
        font-size: 13px;
        line-height: 126%;
        letter-spacing: 0.08em;
        font-feature-settings: 'pnum' on, 'lnum' on;
        color: #B0B0B0;
    }
    &__text{
        font-size: 9px;
        line-height: 126%;
        letter-spacing: 0.165em;
        text-transform: uppercase;
        font-feature-settings: 'pnum' on, 'lnum' on;
        color: #000000;
    }
}
@media(max-width:1361px){
    .header{
        &::before{
            right: -73%;
        }
    }
    .get-started{
        &::before{
            right: -73%;
        }
    }
}
@media(max-width:1100px){
    .header{
        &::before{
            right: -74%;
        }
    }
    .get-started{
        &::before{
            right: -74%;
        }
    }
}
@media(max-width:426px){
    .header{
        &::before{
            right: -74%;
        }
    }
    .get-started{
        &__row{
            padding: 12px 0 40px 0;
        }
}
}

@media(max-width:995px){
    .header{
        &::before{
            visibility: hidden;
        }
    }
    .get-started{
        &::before{
            visibility: hidden;
        }
        &__row{
            flex-direction: column;
            justify-content: center;
        }
        &__body{
            flex: 1 1 auto;
            margin: 0 0 30px 0;
        }
        &__image{
            flex: 1 1 auto;
        }
    }
    .body{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
}
/*==========================================================================================================================*/
.stay-safe{
    &__row{
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 0 20px 79px 149px;
    }
    &__image{
        flex: 0 0 50%;
        position: relative;
        margin: 115px 0 0 0;
    }
    &__decoration-1{
        position: absolute;
        top: -28px;
        left: -42px;
        z-index: -1;
        width: 147px;
        height: 147px;
        border-radius: 30px;
        background-color: $color;
    }
    &__decoration-2{
        position: absolute;
        bottom: 8px;
        left: -9px;
        z-index: -1;
        width: 77px;
        height: 77px;
        border-radius: 30px;
        background-color: $color;
        &_left{
            bottom: 130px;
            left: 220px;
        }
    }
}
@media(max-width:1024px){
    .stay-safe{
        &__row{
            padding: 0 0 59px 60px;
        }
        &__body{
            margin: 0 0 0 -80px;
            padding: 0 20px;
        }
    }
}
@media(max-width:816px){
    .stay-safe{
        &__row{
            flex-direction: column;
            align-items: center;
        }
        &__image{
            flex: 0 1 auto;
            order: 2;
        }
    }
}
@media(max-width:420px){
    .stay-safe{
        &__decoration-1{
            top: -20px;
            left: -15px;
            width: 100px;
            height: 100px;
        }
        &__decoration-2{
            &_left{
                bottom: 130px;
                left: 210px;
            }
        }
        &__image{
            margin: 70px 0 0 -50px;
        }
    }
}
/*=======================================================================================================================*/
.experts{
    background-color: #FAFBFD;
    &__container{
        padding: 53px 20px 116px 20px;
    }
    &__row{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 80px 0 0 0;
        padding: 0 28px 0 40px;
    }
    &__body{
        flex: 0 1 40%;
        margin: 0 87px 0 0;
    }
    &__video{
        position: relative;
        flex: 0 1 60%;
        padding: 17% 0;
        iframe{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}
@media(max-width:1050px){
    .experts{
        &__container{
            padding: 53px 5px 0px 5px;
        }
        &__row{
            flex-direction: column;
            padding: 0 10px 0 10px;
        }
        &__body{
            flex: auto;
            &:not(:last-child){
                margin: 0 0 50px 0;
            }
        }
        &__video{
            width: 100%;
            padding: 25% 0;
        }
        &__body{
            justify-content: center;
            text-align: center;
        }
    }
}
@media(max-width:476px){
    .experts{
        &__container{
            padding: 53px 5px 0px 5px;
        }
        &__video{
            width: 100%;
            padding: 30% 0;
        }
    }
}


.statics-expert{
    padding: 0 50px 0 20px;
    display: flex;
    justify-content: center;
    &__position{
        position: relative;
        display: flex;
        justify-content: space-around;
        flex: 0 1 654px;
    }
    &__decor{
        background-color: $color;
        position: absolute;
        z-index: 1;
        &_position-1{
            bottom: -20px;
            left: -20px;
        }
        &_position-2{
            top: -40px;
            left: 34%;
        }
        &_position-3{
            top: 0;
            right: -50px;
        }
        &_1{
            width: 66px;
            height: 66px;
            border-radius:16px;
            transform: rotate(-30deg);
        }
        &_2{
            width: 97px;
            height: 97px;
            border-radius: 30px;
            transform: rotate(105deg);
        }
        &_3{
            width: 128px;
            height: 128px;
            border-radius: 30px;
            transform: rotate(-30deg);
        }
    }
    &__content{
        display: flex;
        justify-content: space-around;
        flex: 0 1 654px;
        z-index: 2;
        box-shadow:(0px 4px 4px rgba(0, 0, 0, 0.25));
        background-color: #fff;
        border-radius: 16px;
        padding: 28px 80px;
    }
    &__value{
        text-align: center;
        font-weight: 700;
        font-size: 36px;
        line-height: 1.2;
        letter-spacing: 0.14em;
        font-feature-settings: 'pnum' on, 'lnum' on;
        color: #EC5863;
        &:not(:last-child){
            margin: 0 0 5px 0;
        }
    }
    &__text{
        font-weight: 700;
        font-size: 11px;
        line-height: 1.2;
        letter-spacing: 0.37em;
        text-transform: uppercase;
        font-feature-settings: 'pnum' on, 'lnum' on;
    }
}
@media(max-width:788px){
    .statics-expert{
        &__decor{
            &_1{
                width: 50px;
                height: 50px;
            }
            &_2{
                width: 70px;
                height: 70px;
                border-radius: 22px;
                top: -30px;
            }
            &_3{
            width: 100px; 
            height: 100px;
        }
        }
        &__content{
            padding: 20px 0px;
        }
    }
}
@media(max-width:602px){
    .statics-expert{
        &__value{
            font-size: 22px;
        }
        &__text{
            font-size: 10px;
        }
    }
}
@media(max-width:495px){
    .statics-expert{
        &__content{
            flex-direction: column;
            align-items: center;
        }
        &__item{
            &:not(:last-child){
                margin: 0 0 30px 0;
            }
        }
        &__decor_3{
            top: 50px;
        }
    }
}
/*=================================================     Секция healthcare     ==================================================================================*/
.healthcare{
    padding: 80px 0 50px 0;
    &__card{
        position: relative;
        display: flex;
        flex: 0 1 33.3333%;
    }
    .body_center{
        max-width: 680px;
        margin: 0 auto 50px auto;
        .body{
            &__text{
                max-width: 600px;
                text-align: center;
                margin: 0 auto;
            }
        }
    }
    &__cards-row{
        display: flex;
        gap: 72px;
        padding: 0 44px 0 35px;
    }
}
@media(max-width:950px){
    .healthcare{
        &__cards-row{
            flex-wrap: wrap;
            justify-content: center;
        }
        &__card{
            flex: 0 1 40%;
        }
    }
}
@media(max-width:740px){
    .healthcare{
        &__cards-row{
            flex-direction: column;
            flex-wrap: nowrap;
            align-items: stretch;
            padding: 0 30px;
        }
    }
}
.card-content{
    position: relative;
    z-index: 2;
    display: flex;
    flex: 1 1 100%;
    flex-direction: column;
    align-items: center;
    padding: 37px 18px;
    border-radius: 8px;
    box-shadow: 0px 4px 18px rgba(88, 126, 236, 0.18);
    background-color: #fff;
    &__icon{
        max-width: 220px;
        max-height: 150px;
        &:not(:last-child){
            margin: 0 0 52px 0;
        }
    }
    &__title{
        font-weight: 700;
        font-size: 16px;
        line-height: 138.5%;
        text-align: center;
        letter-spacing: 0.08em;
        font-feature-settings: 'pnum' on, 'lnum' on;
        &:not(:last-child){
            margin: 0 0 4px 0;
        }
    }
    &__text{
        line-height: 138.5%;
        text-align: center;
        letter-spacing: 0.08em;
        font-feature-settings: 'pnum' on, 'lnum' on;
        color: #616161;
    }
}
.statics-expert__decor_position-healthcare{
    &-1{
        bottom: -34px;
        left: -25px;
    }
    &-2{
        top: 35px;
        right: -34px;
    }
    &-3{
        bottom: -25px;
        right: -85px;
    }
    &-4{
        top: -30px;
        right: -20px;
    }
}
/*=============================================================================================================================*/
.footer{
    &__buttons-row{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 149px;
        gap: 57px;
    }
}
@media(max-width:426px){
    .footer{
        &__buttons-row{
            height: 70px;
            gap: 25px;
        }
    }
}
