{% extends "auctions/layout.html" %}

{% load static %}

{% block head %}
 <title>Аукціони</title> 
 <link rel="stylesheet" href="{% static 'auctions/styles.css' %}">
 {% endblock %}

{% block body %}
<div class="index_name">
<span id="index_span_1">Активні аукціони</span>
</div>
<div class="index_auctions">
    {% for item in items %}
    <div class="index_item">
            <div class="index_image">
                <img class="index_images" src="/static/media/img/{{item.photo}}">
            </div>
            <div class="index_item_name">
                <span class="index_span_name">{{item.name}}</span>
            </div>
            <div class="index_item_description">
                <p class="ps">{{item.description}}</p>
            </div>
            <div class="index_item_price">
                {{item.price}}$
            </div>
            <div class="index_item_button">
                <a class="index_item_buttons" href="{% url 'page' item.name %}" role="button">Детальна інформація</a>
            </div>
    </div>
    {% endfor %}
</div>
{% endblock %}