{% load static %}

<!DOCTYPE html>
<html lang="uk">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0" >
        <link rel="stylesheet" href="{% static 'auctions/styles_layout.css' %}">
        {% block head %}
        
        {%endblock%}
    </head>
    <body>
        <div class="layout_top_row">
            <div class="layout_image_div">
                <img id="layout_image1" src="{% static 'media/img/images.jpg' %}">
            </div>
            <div class="layout_urls">
                {% if user.is_authenticated %}
                <a class="layout_a" href="">Активні аукціони</a>
                <a class="layout_a" href="">Категорії</a>
                <a class="layout_a" href="">Закінчені аукціони</a>
                <a class="layout_a" href="">Створити аукціон</a>
                <a class="layout_a" href="">Список відстеження</a>
                <a class="layout_a" href="">Вийти</a>
                {% else %}
                <a class="layout_a" href="{% url 'index' %}">Активні аукціони</a>
                <a class="layout_a" href="">Увійти</a>
                <a class="layout_a" href="">Зареєструватися</a>
                {% endif %}
            </div>
        </div>
        <hr id="layout_hr">
        {% block body %}
        {% endblock %}
    </body>
</html>